apiVersion: v1
kind: Deployment
metadata:
  name: comments-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: comments
  template:
    metadata:
      label:
        app: comments
    containers:
      - name: comments
        image: nikhilsksharma/comments
