apiVersion: v1
kind: Deployment
metadata:
  name: moderation-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: moderation
  template:
    metadata:
      label:
        app: moderation
    containers:
      - name: moderation
        image: nikhilsksharma/moderation
